{% extends "base_generic.html" %}

{% block content %}
<h1>Meter Readings</h1>
  {% if page_obj %} 
  <table>
    <tr>
      <th>Time</th>
      <th>1st Digit</th>
      <th>2nd Digit</th>
      <th>3rd Digit</th>
      <th>4th Digit</th>
      <th>5th Digit</th>
      <th>Picture</th>
    </tr>
    {% for reading in page_obj %}
    <tr>
      {% if reading.picture %}
      <th> {{reading.time}} </th>
      <th> {{reading.firstNum|floatformat:2}} </th>
      <th> {{reading.secondNum|floatformat:2}} </th>
      <th> {{reading.thirdNum|floatformat:2}} </th>
      <th> {{reading.fourthNum|floatformat:2}} </th>
      <th> {{reading.fifthNum|floatformat:2}} </th>
      <th> <img src="{{ reading.picture.url }}" alt="img" width="200" height="150"> </th>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  
  {% else %}
    <p>No readings available</p>
  {% endif %}       
{% endblock %}
