{% extends "base_generic.html" %}

{% block content %}
  <h1>Meter Readings</h1>
  {% if reading_list %}
  <table>
    <tr>
      <th>Time</th>
      <th>1st Digit</th>
      <th>2nd Digit</th>
      <th>3rd Digit</th>
      <th>4th Digit</th>
      <th>5th Digit</th>
      <th>Picture</th>
    </tr>
    {% for reading in reading_list %}
    <tr>
      {% if reading.picture %}
      <th> {{reading.time}} </th>
      <th> {{reading.firstNum|floatformat:2}} </th>
      <th> {{reading.secondNum|floatformat:2}} </th>
      <th> {{reading.thirdNum|floatformat:2}} </th>
      <th> {{reading.fourthNum|floatformat:2}} </th>
      <th> {{reading.fifthNum|floatformat:2}} </th>
      <th> <img src="{{ reading.picture.url }}" alt="img" width="200" height="150"> </th>      
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  
  {% else %}
    <p>No readings available</p>
  {% endif %}       
{% endblock %}
