{% extends "base_generic.html" %}

{% block content %}
<div>
  <div id="canvasesdiv" style="position:relative; height=500; width=400">
    <canvas id="picCanvas"
	    style="z-index: 1;
		   position:absolute;
		   left:0px;
		   top:0px;
		   " height="400" width="400">
      This text is displayed if your browser does not support HTML5 Canvas.
    </canvas>
    <canvas id="shapeCanvas"
	    onmousemove="makeCircle(event)"
	    onwheel="resize(event)"
	    onclick="writeCoords(event)"
	    style="z-index: 2;
		   position:relative;
		   left:0px;
		   top:0px;
		   " height="400" width="400">
      This text is displayed if your browser does not support HTML5 Canvas.
    </canvas>
  </div>
  
  <div id="fluidText" style="z-index:3;">
    <p id="fluidCoords"></p>
  </div>

  <div id="fixedText" style="z-index:3;">
    <p id="fixedCoords"></p>
  </div>

  <script>
    var canvas = document.getElementById("shapeCanvas");
    var ctx = canvas.getContext("2d");
    
    var radius = 20;
    var scale_factor;
    var old_pic_width;
    var old_pic_height;
      var new_pic_width;
      var new_pic_height;
      
      window.onload = function() {
	  var picCanvas = document.getElementById("picCanvas");
	  var picCtx = picCanvas.getContext("2d");
	  var img = new Image();
	  img.src = " {{ pic_path }}";
	  // make sure image has time to load before trying to draw
	  // else will sometimes be blank
	  img.onload=function() {
	      old_pic_width=this.width;
	      old_pic_height=this.height;
	      if (old_pic_width>old_pic_height) {
		  new_pic_width=400;
                  new_pic_height=Math.round(400*(old_pic_height/old_pic_width));
              }
              else {
                  new_pic_height=400;
                  new_pic_width=Math.round(400*(old_pic_width/old_pic_height));
              }
	      picCtx.drawImage(img, 0, 0, new_pic_width, new_pic_height);
	  }
      }
      
      function makeCircle(evt) {
	  var pos = getMousePos(canvas, evt);
	  ctx.clearRect(0, 0, canvas.width, canvas.height);
	  ctx.lineWidth=5;
	  ctx.strokeStyle = '#FF0000';
	  for (i=0; i<5; i++) {
	      ctx.beginPath();
	      ctx.arc(pos.x+2*radius*(i-2), pos.y, radius, 0, 2 * Math.PI);
	      ctx.stroke();
	      ctx.closePath();
	  }
	  var trueCoords = getPicCoords(canvas, evt);
	  var myText = "X: " + trueCoords.x + ", Y: " + trueCoords.y + ", R: " + trueCoords.r;
	  document.getElementById("fluidCoords").innerHTML = myText;
      };

      // resize based on mouse scroll
      function resize(evt) {
	  radius+=event.deltaY*.1;
	  radius=Math.max(radius,0);
	  radius=Math.min(radius,canvas.width/10,canvas.height/10);
	  makeCircle(evt);
      };

      function writeCoords(evt) {
	  //var canvas = document.getElementById("shapeCanvas");
	  //var ctx = canvas.getContext("2d");
	  var picCoords = getPicCoords(canvas, evt);
	  var coords = "X: " + Math.round(picCoords.x)
	      + ", Y: " + Math.round(picCoords.y)
	      + ", R: " + Math.round(picCoords.r);
	  document.getElementById("fixedCoords").innerHTML = coords;
      }

    function getPicCoords(canvas, evt) {
	var pos = getMousePos(canvas, evt);
	var scale_factor = (old_pic_width/new_pic_width)
	return {
	    x: pos.x*scale_factor-4*radius*scale_factor,
	    y: (new_pic_height-pos.y)*scale_factor,
	    r: radius*scale_factor
	}
    }
    
      function getMousePos(canvas, evt) {
	  var rect = canvas.getBoundingClientRect();
	  return {
	      x: evt.clientX - rect.left,
	      y: evt.clientY - rect.top,
	  };
      }
      
  </script>

    {% endblock %}
